.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0d0dad;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sliding-component {
  transition: transform 0.5s ease-in-out;
}

.slide-in {
  transform: translateX(0);
}

.slide-out {
  transform: translateX(300%);
}

.scale {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.scale-down {
  transform: scale(0);
  opacity: 0;
}

.reset-position {
  transform: scale(1);
  opacity: 1;
  z-index: 1;
}

.people {
  transform: translateX(20px);
}

.people img:nth-child(2) {
  transform: translateX(-10px);
}

.people img:nth-child(3) {
  transform: translateX(-20px);
}

.profile {
  transform: translateX(-200%)
}

.no-profile {
  transform: translateX(0);
}

.gradient {
  background: linear-gradient(to left, #463a85, #9a1b39);
}

.gradient-r {
  background: linear-gradient(to left, #9a1b39, #463a85);
}

.gradient-bb {
  background: linear-gradient(to bottom, #9a1b39, #463a85);
}

.gradient-b {
  background: linear-gradient(to bottom, #f1f1f1, #f1f1f1, #473a8574);
}
